In [2]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [8]:
df = pd.read_csv("C:\\Users\\madhuyen\\Desktop\\HEMENDRA J\\Amazon_Reviews.csv")
df.head(2)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...

In [9]:
df.set_index('Id', inplace=True)
df.head(2)

,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
Id,,,,,,,,,
1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...

In [10]:
df.describe()

,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time
count,568454.000000,568454.00000,568454.000000,5.684540e+05
mean,1.743817,2.22881,4.183199,1.296257e+09
std,7.636513,8.28974,1.310436,4.804331e+07
min,0.000000,0.00000,1.000000,9.393408e+08
25%,0.000000,0.00000,4.000000,1.271290e+09
50%,0.000000,1.00000,5.000000,1.311120e+09
75%,2.000000,2.00000,5.000000,1.332720e+09
max,866.000000,923.00000,5.000000,1.351210e+09

In [12]:
df.shape

(568454, 9)

In [13]:
list(df.columns)

['ProductId',
 'UserId',
 'ProfileName',
 'HelpfulnessNumerator',
 'HelpfulnessDenominator',
 'Score',
 'Time',
 'Summary',
 'Text']

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 568454 entries, 1 to 568454
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ProductId               568454 non-null  object
 1   UserId                  568454 non-null  object
 2   ProfileName             568438 non-null  object
 3   HelpfulnessNumerator    568454 non-null  int64
 4   HelpfulnessDenominator  568454 non-null  int64
 5   Score                   568454 non-null  int64
 6   Time                    568454 non-null  int64
 7   Summary                 568427 non-null  object
 8   Text                    568454 non-null  object
dtypes: int64(4), object(5)
memory usage: 43.4+ MB

In [18]:
df.isnull().sum()

ProductId                  0
UserId                     0
ProfileName               16
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                   27
Text                       0
dtype: int64

In [25]:
[x for x in df.isnull().sum() if x>0]

[16, 27]

In [42]:
[ x for x in df.describe().columns if df[x].isnull().sum() ==0 ]

['HelpfulnessNumerator', 'HelpfulnessDenominator', 'Score', 'Time']

In [37]:
df['Summary'].isnull().sum()

27

In [43]:
for i in df.describe().columns:
    if df[i].isnull().sum()==0:
        print(i)

HelpfulnessNumerator
HelpfulnessDenominator
Score
Time

In [45]:
df.select_dtypes(include='O').describe().columns

Index(['ProductId', 'UserId', 'ProfileName', 'Summary', 'Text'], dtype='object')

In [47]:
[x for x in df.select_dtypes(include='O').describe().columns]

['ProductId', 'UserId', 'ProfileName', 'Summary', 'Text']

In [49]:
profile = ProfileReport(df, title = "Amazon Reviews Profiling Report", explorative=True)
profile.to_file("Amazon Reviews Profiling Report.html")

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=24.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…